* {
        background-image: none;
}

#win {
        background-color: #000000;
}
#tempWin {
        background-color: #232629;
}
#testButton {
        /* color: red; */
        /* background-color: gray; */
        background-color: #222222;
        border: none;
}

#navPane {
        background-color: #141414;
        outline: none;
        border: none;
}
#tempTable {
        margin-top: 10px;
}
#makeFolderButton:hover, #makeFileButton:hover, #copyButton:hover, #cutButton:hover, #pasteButton:hover, #deleteButton:hover, #refreshButton:hover, #renameButton:hover, #compressButton:hover, #undoChangesButton:hover, #saveChangesButton:hover, #backButton:hover, #createButton:hover, #searchButton:hover {
        /* margin-left: 10px; */
        background-color: rgb(36, 36, 36);
}
#makeFolderButton:active, #makeFileButton:active, #copyButton:active, #cutButton:active, #pasteButton:active, #deleteButton:active, #refreshButton:active, #renameButton:active, #compressButton:active, #undoChangesButton:active, #saveChangesButton:active, #backButton:active, #createButton:active, #searchButton:active {
        background-color: aqua;
        box-shadow: 0 0 4px aqua;
        outline: none;
}
#undoChangesButton:hover {
        border-color: red;
}
#saveChangesButton:hover {
        border-color: greenyellow;
}
#createButton:hover, #confDelButton:hover, #compressBtn:hover, #browseButton:hover {
        border-color: greenyellow;
        background-color: #3b3939;
}
#cancelButton:hover, #delCancelButton:hover, #cancelButton2:hover {
        border-color: red;
        background-color: #3b3939;
}
#ribbon {
        font-size: large;
}
#addressBar {
        margin-left: 10px;
        margin-right: 0;
}
#searchEntry {
        background-color: #141414;
}
#searchEntry:focus {
        border-color: aqua;
}
#tempelem:selected {
        color: black;
        background-color: aqua;
}
#scwin {
        /* background-color: aqua; */
        /* background-color: gray; */
        margin-left: 10px;
        /* margin-top: 40px; */
}
#ffbutton {
        margin: 4px 4px 4px 4px;
        border-radius: 10px;
        padding-top: 1rem;
}
#ffbutton:hover {
        background-color: rgb(36, 36, 36);
        border-radius: 20px;
        /* margin: 8px 8px 8px 8px; */
}
#ffbutton:active {
        background-color: aqua;
        color: black;
        box-shadow: 0 0 4px aqua;
}
#ques {
        margin-left: 100px;
        margin-top: 20px;
        font-size: large;
}
#entry1 {
        margin-left: 100px;
        margin-top: 20px;
}
#createButton {
        margin-left: 100px;
        margin-top: 20px;
}
#cancelButton {
        margin-left: 100px;
        margin-top: 10px;
}
#temp {
        /* background-color: red; */
        border-radius: 0px;
}
#scwin2 {
        background-color: aqua;
}
#rpopup:hover {
        background-color: white;
        color: black;
}
#menuOption:hover {
        background-color: white;
        color: black;
}